Django
pandas
transformers
datasets
accelerate
sentence-transformers
faiss-cpu
openai
google-generativeai
PyPDF2
matplotlib
seaborn
requests
evaluate
dotenv 
django_cleanup
django_extensions
python-magic
pdfminer
pdfminer.six
googlesearch-python
whitenoise